
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:#fff" class="navbar-brand" href="http://www.creative-tim.com">МИАЦ - Самара | Диспансеризация</a>
        </div>


    </div>
</nav>

<div class="wrapper">
    <div class="header header-filter" style="background-image: url('/img/samara.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup card-header" data-background-color="orange">
                        <form class="form" method="" action="">
                            <div class="header header-primary text-center" data-background-color="purple">
                                <h4>Диспансеризация | Вход</h4>

                            </div>
                            <p class="text-divider">Введите свой логин и пароль</p>
                            <div class="content">

                                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
                                    <input ng-model="login.username" type="text" class="form-control" placeholder="Ваш логин...">
                                </div>


                                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                                    <input ng-model="login.password" type="password" placeholder="и пароль..." class="form-control" />
                                </div>

                                <!-- If you want to add a checkbox to this form, uncomment this code

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsCheckboxes" checked>
                                        Subscribe to newsletter
                                    </label>
                                </div> -->
                            </div>
                            <div class="footer text-center">
                                <button type="button" ng-click="Login()" class="btn btn-simple btn-primary btn-lg">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">

                <div class="copyright pull-right">
                    &copy; 2016, сделано с <i class="fa fa-heart heart"></i> в <a href="http://medlan.samara.ru" target="_blank">МИАЦ</a>
                </div>
            </div>
        </footer>

    </div>

</div>


